.nav-wrapper
{
	background-color: #593E70;
}

.card-title
{

}

.page-footer
{
	background-color: #593E70;
}

.row{
	
	
}
.img2{
	
}

.test{
	color: #9E7BFF;
}

.test2{
	color: #9E7BFF;
}

.test3{
	color: #9E7BFF;
}